<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="MyFirstTests" parallel="classes" thread-count="2">
                   <classes>
                       <class name="testsPet.someTests"></class>
                   </classes>
                       </test>

</suite>
